@import url('https://fonts.googleapis.com/css2?family=Balthazar&display=swap');

/* tailwindcss import */
@import "tailwindcss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Balthazar", serif;
}

:root{
  --tertiary-bg: #fde0c0;
  --fade-red-color: #ff5757;
  --brown-color: #2c0202;
  --conc-red-color: #f5291a;
  --orange-color: #ff811c;
  --green-color: #068b50;
}

.top-bar div{
  @apply p-[6px_10px];
}

.top-bar .right-side li{
  @apply pr-[5px];
}

nav{
  transition: top 0.3s ease-in-out;
  @apply sticky top-0 lg:p-[8px_25px] max-[1024px]:p-[8px_15px] max-[1011px]:p-[5px_0] shadow-lg bg-[#fff];
}

nav ul .submenu,
nav ul .sub-sub-menu{
  @apply min-[1011px]:w-[200px];
}

nav .menu{
  @apply max-[1011px]:flex max-[1011px]:flex-col min-[1010px]:flex min-[1010px]:gap-x-[5px] bg-[#fff] max-[1011px]:absolute
  top-0 max-[1010px]:left-[0] max-[1011px]:invisible max-[1010px]:opacity-0 max-[1010px]:p-[50px_0_30px_0] max-[1011px]:-z-50;
}

nav .menu.active{
  overflow-y: scroll;
  scrollbar-color: none;
  transition: 0.3s ease-in-out;
  @apply bg-[#fff] left-0 visible opacity-[1] px-[5px] max-[1011px]:h-[100vh] pt-[100px] max-[1011px]:w-[60%] max-[534px]:w-full;
}

nav .menu li a{
  color: var(--brown-color);
  @apply block w-full xl:text-[1.1rem] max-[1280px]:text-[0.9rem] p-[5px_10px] max-[1011px]:text-[1.1rem];
}

nav .submenu{
  @apply min-[1011px]:shadow-md z-50 bg-[#fff] min-[1011px]:absolute;
}

nav .submenu li{
  @apply px-[2px] py-[5px] max-[1011px]:px-[6px];
}

nav .sub-sub-menu{
  @apply min-[1011px]:absolute min-[1011px]:top-0 min-[1011px]:left-[100%] min-[1011px]:shadow-md bg-[#fff];
}

nav .sub-sub-menu{
  @apply px-[2px] py-[5px] max-[1011px]:px-[9px];
}

nav .sub-sub-menu li a.active,
nav .submenu .active-btn a.active{
  @apply bg-[#ff5757] text-[#fff];
}

nav .search-form{
  @apply max-[549px]:opacity-0 max-[549px]:absolute left-0 top-[100%] px-5 w-[100%]
  bg-[#fff] max-[1010px]:py-[4px];
}

nav .search-form input{
  @apply p-[6px_0_6px_6px];
}

nav .search-form button{
  @apply px-[8px];
}

nav .search-form.active{
  transition: 0.3s ease-in-out;
  @apply max-[549px]:opacity-[1];
}

nav .multi-components{
  @apply max-[1011px]:pr-[20px];
}

nav .multi-components a{
  @apply p-[5px] flex rounded-[50px] justify-center items-center;
}

nav .multi-components a.active{
  @apply bg-[#2c0202] text-[#fff] p-[5px] flex rounded-[50px] justify-center items-center;
}

nav .multi-components .login-register{
  @apply max-[1011px]:hidden;
}

nav .menu.active h4{
  @apply mt-[15px];
}

nav .social-media-wrapper{
  @apply mt-[-20px];
}

.auth-btn-wrapper{
  @apply px-[10px] pt-[20px];
}

.auth-btn-wrapper h3{
  @apply pb-[15px];
}

.auth-btn-wrapper .login-link,
.auth-btn-wrapper .signup-link{
  @apply py-[8px] rounded-[3px] text-center text-[#fff] text-[1.3rem];
}

.social-media-wrapper ul{
  @apply pt-[20px];
}

.social-media-wrapper div{
  @apply p-[0_15px_15px];
}

.social-media-wrapper ul li:nth-child(1) a i{
  @apply text-[#1877F2];
}

.social-media-wrapper ul li:nth-child(2) a i{
  @apply text-[#000];
}

.social-media-wrapper ul li:nth-child(3) a i{
  @apply text-pink-700;
}

.social-media-wrapper ul li:nth-child(4) a i{
  @apply text-[#0a66c2];
}

.social-media-wrapper ul li:nth-child(5) a i{
  @apply text-[#f5291a];
}