@import url('https://fonts.googleapis.com/css2?family=Balthazar&display=swap');

/* tailwindcss import */
@import "tailwindcss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Balthazar", serif;
}

:root{
  --tertiary-bg: #fde0c0;
  --fade-red-color: #ff5757;
  --brown-color: #2c0202;
  --conc-red-color: #f5291a;
  --orange-color: #ff811c;
  --green-color: #068b50;
}

.top-bar div{
  @apply p-[6px_10px];
}

.top-bar .right-side li{
  @apply pr-[5px];
}

nav{
  transition: top 0.3s ease-in-out;
  @apply sticky top-0 lg:p-[8px_25px] max-[1024px]:p-[8px_15px] max-[1011px]:p-[5px_0] shadow-lg bg-[#fff];
}

nav ul .submenu,
nav ul .sub-sub-menu{
  @apply min-[1011px]:w-[200px];
}

nav .menu{
  @apply max-[1011px]:flex max-[1011px]:flex-col min-[1010px]:flex min-[1010px]:gap-x-[5px] bg-[#fff] max-[1011px]:absolute
  top-0 max-[1010px]:left-[0] max-[1011px]:invisible max-[1010px]:opacity-0 max-[1010px]:p-[50px_0_30px_0] max-[1011px]:-z-50;
}

nav .menu.active{
  overflow-y: scroll;
  scrollbar-color: none;
  transition: 0.3s ease-in-out;
  @apply bg-[#fff] left-0 visible opacity-[1] px-[5px] max-[1011px]:h-[100vh] pt-[100px] max-[1011px]:w-[60%] max-[534px]:w-full;
}

nav .menu li a{
  color: var(--brown-color);
  @apply block w-full xl:text-[1.1rem] max-[1280px]:text-[0.9rem] p-[5px_10px] max-[1011px]:text-[1.1rem];
}

nav .submenu{
  @apply min-[1011px]:shadow-md z-50 bg-[#fff] min-[1011px]:absolute;
}

nav .submenu li{
  @apply px-[2px] py-[5px] max-[1011px]:px-[6px];
}

nav .sub-sub-menu{
  @apply min-[1011px]:absolute min-[1011px]:top-0 min-[1011px]:left-[100%] min-[1011px]:shadow-md bg-[#fff];
}

nav .sub-sub-menu{
  @apply px-[2px] py-[5px] max-[1011px]:px-[9px];
}

nav .sub-sub-menu li a.active,
nav .submenu .active-btn a.active{
  @apply bg-[#ff5757] text-[#fff];
}

nav .search-form{
  @apply max-[549px]:opacity-0 max-[549px]:absolute left-0 top-[100%] px-5 w-[100%]
  bg-[#fff] max-[1010px]:py-[4px];
}

nav .search-form input{
  @apply p-[6px_0_6px_6px];
}

nav .search-form button{
  @apply px-[8px];
}

nav .search-form.active{
  transition: 0.3s ease-in-out;
  @apply max-[549px]:opacity-[1];
}

nav .multi-components{
  @apply max-[1011px]:pr-[20px];
}

nav .multi-components a{
  @apply p-[5px] flex rounded-[50px] justify-center items-center;
}

nav .multi-components a.active{
  @apply bg-[#2c0202] text-[#fff] p-[5px] flex rounded-[50px] justify-center items-center;
}

nav .multi-components .login-register{
  @apply max-[1011px]:hidden;
}

.auth-btn-wrapper{
  @apply px-[10px] pt-[20px];
}

.auth-btn-wrapper h3{
  @apply pb-[15px];
}

.auth-btn-wrapper .login-link,
.auth-btn-wrapper .signup-link{
  @apply py-[8px] rounded-[3px] text-center text-[#fff] text-[1.3rem];
}

.social-media-wrapper ul{
  @apply pt-[20px];
}

.social-media-wrapper div{
  @apply p-[0_15px_15px];
}

.social-media-wrapper ul li:nth-child(1) a i{
  @apply text-[#1877F2];
}

.social-media-wrapper ul li:nth-child(2) a i{
  @apply text-[#000];
}

.social-media-wrapper ul li:nth-child(3) a i{
  @apply text-pink-700;
}

.social-media-wrapper ul li:nth-child(4) a i{
  @apply text-[#0a66c2];
}

.social-media-wrapper ul li:nth-child(5) a i{
  @apply text-[#f5291a];
}

.home .hero-carousel{
  @apply relative text-center h-[100vh] max-[550px]:h-[68vh] max-[365px]:h-[72vh];
}

.hero-carousel .swiper-slide img{
  @apply h-[100%] w-full;
}

.hero-carousel .swiper-slide .content-wrapper{
  @apply absolute top-0 left-0  h-[100vh];
}

.hero-carousel .swiper-slide .content-wrapper .content{
  background: linear-gradient(to left, rgba(6,139,80,0.6),#068b50);
  @apply xl:w-[50%] h-full px-[25px] max-[326px]:px-[10px] max-[1279px]:bg-gradient-to-r from-[#068b50] min-[600px]:pt-[100px];
}

.hero-carousel .swiper-slide .content h1{
  @apply xl:text-[4rem] text-[#fff] max-[1279px]:text-[3.1rem] font-black max-[560px]:text-[2.5rem] max-[550px]:text-[2rem] 
  max-[398px]:text-[1.5rem] max-[281px]:text-[1.2rem];
}

.hero-carousel .swiper-slide .content p{
  @apply text-[#fff] xl:text-[1.3rem] max-[1279px]:text-[1.2rem] font-semibold max-[493px]:text-[1rem]
   px-[15px] max-[512px]:pb-[15px] max-[294px]:pb-[0] max-[398px]:text-[0.98rem] max-[341px]:text-[0.93rem]
   max-[281px]:px-[0];
}

.hero-carousel .swiper-slide .content .btn-container{
  @apply block w-[100%] relative;
}

.hero-carousel .swiper-slide .content .btn-container a{
  transition: 0.4s ease-in-out;
  background: var(--orange-color);
  @apply min-[560px]:text-[1.4rem] text-[#fff] p-[6px_20px] rounded-[10px]
  border-[2px] border-[#ff811c] absolute left-0 min-[540px]:left-[70px];
}

.hero-carousel .swiper-slide .content .btn-container a:hover{
  @apply bg-transparent font-bold;
}

.hero-carousel .swiper-slide .blank{
  background: linear-gradient(to left, rgb(6,139,80,0.0),#068b4f94);
  @apply xl:w-[50%];
}

.about-team .info-wrapper p{
  @apply pb-[20px];
}

.about-team .info-wrapper p i,
.about-faq .about-banner p i,
.contacts .contacts-banner p i{
  @apply px-[5px];
}

.about-team .info-wrapper .info-content-module .module-wrapper{
  @apply pb-[40px];
}

.module-wrapper .module-content{
  @apply xl:mt-[220px] max-[1279px]:mt-[290px];
}

.module-wrapper .module-content p{
  @apply p-[0_15px_15px];
}

.about-team .info-content li{
  @apply p-[15px] border-[1px] border-[#3333331f] shadow-lg;
}

.about-team .info-content,
.about-faq .info-content{
  @apply grid grid-cols-[repeat(auto-fit,minmax(180px,1fr))] xl:gap-x-[20px] gap-y-[20px] lg:px-[90px]
  max-[1023px]:px-[30px] max-[1279px]:gap-x-[20px] pb-[40px];
}

.about-team .info-content li:nth-child(1) h4{
  @apply text-[#f5291a];
}

.about-team .info-content li:nth-child(2) h4{
  @apply text-[#068b50];
}

.about-team .info-content li:nth-child(3) h4{
  @apply text-[#ff811c];
}

.about-team .info-content li h5{
  @apply text-[1.3rem] font-bold text-[#068b4faf];
}

.about-team .info-content li p,
.about-team .info-content-module p{
  @apply text-[1.1rem];
}

.info-content-module .social-media-wrapper li{
  @apply px-[5px];
}

.about-team .info-content li span,
.about-team .info-content-module span{
  @apply text-[1.1rem] font-bold cursor-pointer;
}

.about-team .info-content li:hover h4,
.about-team .info-content li:hover h5,
.about-team .info-content li:hover p{
  @apply text-[#fff];
}

.gallery-wrapper{
  @apply p-[40px_0_20px];
}

.gallery-wrapper h3{
  @apply pb-[10px];
}

.gallery-wrapper .gallery-content{
  @apply xl:px-[80px] max-[1279px]:px-[10px];
}

.gallery-wrapper .gallery-content .content-card{
  @apply relative;
}

.gallery-wrapper .gallery-content .content-card img{
  transition: 0.3s ease-in-out;
}

.gallery-wrapper .gallery-content .content-card:hover img{
  @apply scale-[1.1]
}

.gallery-wrapper .gallery-content .content-card .layer{
  @apply invisible absolute top-0 left-0 w-full h-full text-[#fff] font-black text-[1.2rem] 
  bg-[#068b4f5e] p-[10px];
}

.gallery-wrapper .gallery-content .content-card:hover .layer{
  @apply visible text-[#fff] font-black text-[1.2rem] bg-[#068b4f5e] p-[10px];
}

.gallery-wrapper .gallery-content .content-card .layer i{
  @apply absolute bottom-[5px] right-[5px] cursor-pointer rotate-[90deg] p-[8px] bg-[#fff] rounded-[50px]
  text-[#068b50] text-[0.95rem];
}

.gallery-content-module .module-wrapper{
  @apply pb-[40px];
}

.gallery-content-module .module-wrapper .module-content{
  @apply xl:mt-[120px] max-[1279px]:mt-[80px];
}

/*  */
.fun-fact-wrapper{
  @apply py-[40px];
}

.fun-fact-wrapper .fun-fact{
  @apply min-[1011px]:p-[30px_40px] max-[1010px]:p-[30px_10px];
}
/*  */

.about-faq .about-banner,
.contacts .contacts-banner{
  @apply sm:flex max-[640px]:pb-[20px];
}

.about-banner .image,
.contacts .image{
  @apply sm:w-[35%] relative;
}

.about-banner .image .bg-gradient,
.contacts .image .bg-gradient{
  @apply absolute left-0 top-0 w-full h-full sm:bg-gradient-to-l from-[#fff] max-[639px]:bg-gradient-to-t;
}

.about-banner .content,
.contacts .content{
  @apply sm:w-[65%] sm:p-[0_30px_0_60px] max-[639px]:px-[15px] xl:pt-[80px] max-[1279px]:pt-[20px];
}

.about-banner .content h1,
.contacts-banner .content h1,
.about-faq .faq-wrapper h1,
.about-team .info-wrapper h1{
  @apply lg:text-[4rem] text-[#068b50] max-[1023px]:text-[2.5rem] font-black max-[814px]:text-[2.2rem] 
  max-[727px]:text-[1.58rem] max-[326px]:text-[1.35rem] max-[639px]:text-center;
}

.about-banner .content h3,
.contacts-banner .content h3,
.about-faq .info-wrapper h3{
  @apply lg:text-[2rem] text-[#068b4fc2] max-[1023px]:text-[1.5rem] font-black max-[814px]:text-[1.6rem] 
  max-[727px]:text-[1.45rem] max-[326px]:text-[1.2rem] max-[639px]:text-center;
}

.about-banner .content p,
.contacts-banner .content p{
  @apply sm:text-[1.2rem] max-[639px]:text-[1.05rem] font-black max-[639px]:text-center pt-[10px];
}

.about-faq .info-content li{
  @apply p-[20px] rounded-[10px] text-[#fff] shadow-lg;
}

.about-faq .info-wrapper .info-content h4{
  @apply text-[1.4rem] font-extrabold text-center;
}

.about-faq .info-wrapper .info-content p{
  @apply text-[1.12rem] text-center;
}

.about-faq .info-content li:nth-child(1){
  transition: 0.3s ease-in-out;
  @apply bg-[#f5291a];
}

.about-faq .info-content li:hover:nth-child(1),
.about-team .info-content li:hover:nth-child(1){
  @apply bg-[#f5291ac9];
}

.about-faq .info-content li:nth-child(2){
  transition: 0.3s ease-in-out;
  @apply bg-[#068b50];
}

.about-faq .info-content li:hover:nth-child(2),
.about-team .info-content li:hover:nth-child(2){
  @apply bg-[#068b4fc9];
}

.about-faq .info-content li:nth-child(3){
  transition: 0.3s ease-in-out;
  @apply bg-[#ff811c];
}

.about-faq .info-content li:hover:nth-child(3),
.about-team .info-content li:hover:nth-child(3){
  @apply bg-[#ff821cc9];
}

.faq-wrapper{
  @apply pb-[20px];
}

.faq-wrapper ul{
  @apply pt-[20px];
}

.faq-wrapper ul li{
  @apply px-[20px] pb-[15px];
}

.faq-wrapper ul li span i{
  @apply p-[6px_8px];
}




/* SWIPER STYLES */
.hero-carousel .swiper-button-prev,
.hero-carousel .swiper-button-next{
  @apply bg-[#ff821c9c] text-[#fff] w-[40px] h-[40px] rounded-[10px];
}

.hero-carousel .swiper-button-prev::after,
.hero-carousel .swiper-button-next::after{
  @apply text-[1.45rem];
}

.hero-carousel .swiper-pagination-bullet{
  @apply bg-[#fff] rounded-[20px] w-[50px] h-[5px] opacity-[1];
}

.hero-carousel .swiper-pagination-bullet-active{
  @apply bg-[#ff811c];
}